Repository ivangolt/mlops_course: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, pages

.gitlab-ci.yml:

stages:
  - docker
  - linting
  - dvc
  - build
  - publish
  - pages



services:
  - docker:24.0.5-dind

variables:
  DOCKER_TLS_CERTDIR: "/certs"
    
build:
  image: docker:24.0.5
  stage: docker
  only:
    changes:
      - poetry.lock
      - pyproject.toml
      - Dockerfile
      - .gitlab-ci.yml
  before_script:
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY/ivan_golt/mlops_course:latest .
    - docker push $CI_REGISTRY/ivan_golt/mlops_course:latest




default:

  image: mambaorg/micromamba
  before_script:
    - micromamba create -f env.yml
    - micromamba run -n mlops_course poetry config --local cache-dir
    - micromamba run -n mlops_course poetry install

  cache:
    key: dependecies-$CI_COMMIT_BRANCH
    paths: 
      - .poetry



ruff-running:
  stage: linting
  script:
  - micromamba run -n mlops_course poetry run ruff check .

 
dvc-cache:
  stage: dvc
  script:
    - echo 'Dvc pipline processing...'
    - micromamba run -n mlops_course  dvc remote default dvc_dz
    - micromamba run -n mlops_course  dvc remote modify dvc_dz gdrive_use_service_account true 
    - echo 'connection ok'
    - micromamba run -n mlops_course dvc pull
    - micromamba run -n mlops_course dvc repro
    - micromamba run -n mlops_course dvc metrics diff



pypi-release:

  stage: build
  rules:
    - if: '$CI_COMMIT_TAG =~ /^pypi-v[0-9]+(\.[0-9]+)*$/'

  script:
    - echo "Building to python package."
    - micromamba run -n mlops_course poetry build
    - echo "Publish package to gitlab pypi."
    - micromamba run -n mlops_course poetry config repositories.gitlab "https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/packages/pypi"
    - micromamba run -n mlops_course poetry config http-basic.gitlab gitlab-ci-token "$CI_JOB_TOKEN"
    - micromamba run -n mlops_course poetry publish --repository gitlab
  artifacts:
    expire_in: never
    paths:
      - $CI_PROJECT_DIR/dist

publish:
  stage: publish
  script:
    - echo "Building to python package."
    - micromamba run -n mlops_course poetry build
    - echo "Publish package to gitlab pypi."
    - micromamba run -n mlops_course poetry config repositories.gitlab "https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/packages/pypi"
    - micromamba run -n mlops_course poetry config http-basic.gitlab gitlab-ci-token "$CI_JOB_TOKEN"
    - micromamba run -n mlops_course poetry publish --repository gitlab
  only:
    - tags
  artifacts:
    expire_in: never
    paths:
      - $CI_PROJECT_DIR/dist




pages:

  stage: pages
  rules:
    - if: '$CI_COMMIT_TAG =~ /^pages-v[0-9]+(\.[0-9]+)*$/'
    - changes:
      - "_quarto.yml"
      - "*.qmd"

  image: mambaorg/micromamba

  before_script:
    - micromamba create -n pages -c conda-forge python=3.10 quarto jupyter
    - micromamba run -n pages python -m ipykernel install --user --name python3
  cache:
    key: generated-reports
    paths:
      - _site
  script:
    - cp README.md index.qmd
    - micromamba run -n pages quarto render
    - cp -r _site public
  
  artifacts:
    paths:
      - public

upd
  .gitlab-ci.yml
Due: build

upd
  .gitlab-ci.yml
  omega-metric-422818-r9-f902a4eec2f0.json
Due: build

upd ci
  .gitlab-ci.yml
Due: build

upd
  dvc.yaml
Due: none

bugfix
  dvc_scripts/preprocessing.py
Due: none

bugfix gitlab ci
  .gitlab-ci.yml
Due: build

bugfix
  .dvc/config
  Dockerfile
Due: build

bugfix
  Dockerfile
  dvc.lock
Due: build

upd dockerfile
  Dockerfile
Due: build

log_reg_model
  data/dvc_data/raw_data/data.csv.dvc
  dvc.lock
Due: none

catboost_classifier
  catboost_info/catboost_training.json
  catboost_info/learn/events.out.tfevents
  catboost_info/learn_error.tsv
  catboost_info/time_left.tsv
  dvc.lock
  dvc.yaml
  dvc_artifacts/ml_models/.gitignore
  dvc_scripts/evaluate.py
  dvc_scripts/train_model.py
  params.yaml
Due: none

add artifacts
  .gitlab-ci.yml
Due: build

upd gitlab pages
  _quarto.yml
  mlops_course/dvc_report.ipynb
Due: pages

upd gitlab pages
  docs/dvc.md
Due: none

update dvc docs
  _quarto.yml
Due: pages

upd gitlab pages
  .gitlab-ci.yml
  _quarto.yml
Due: build, pages

add mlflow infrastructure
  mlflow/Dockerfile.mlflow
  mlflow/docker-compose.yaml
Due: none

some changes in gitlab pages
  README.md
  _quarto.yml
  docs/lakefs.md
Due: pages

add clear_ml infra
  .gitignore
  clear_ml_infrastucture/docker-compose.yaml
  mlflow_infrastructure/Dockerfile.mlflow
  mlflow_infrastructure/docker-compose.yaml
  poetry.lock
  pyproject.toml
Due: build

add tf-idf model(clear ml)
  .vscode/settings.json
  mlops_course/clearml/config.yaml
  mlops_course/clearml/tf_idf_model.ipynb
  poetry.lock
  pyproject.toml
Due: build

ClearML done
  docs/clearml_artifacts/artifacts.png
  docs/clearml_artifacts/clearml init.png
  docs/clearml_artifacts/compare models.png
  docs/clearml_artifacts/completed work.png
  docs/clearml_artifacts/metrics.png
  docs/clearml_artifacts/metrics_of_two_models.png
  docs/clearml_artifacts/plots.png
  docs/clearml_artifacts/task complete.png
  docs/clearml_report.md
  mlops_course/clearml/BERT_in_Colab.ipynb
  mlops_course/clearml/bert_model.ipynb
  mlops_course/clearml/config.yaml
  poetry.lock
  pyproject.toml
Due: build

update README.md
  README.md
Due: none

add hypotesis report
  .gitignore
  mlops_course/hypotesis.ipynb
  poetry.lock
  pyproject.toml
  tests/test_smape.py
Due: build

fix hypotesis report
  docs/clearml_artifacts/smape.png
  mlops_course/hypotesis.ipynb
Due: none

add streamlit app
  mlops_course/streamlit/tone_app.py
  poetry.lock
  pyproject.toml
Due: build

add streamlit report
  README.md
  docs/clearml_artifacts/streamlit service.png
  docs/streamlit.md
  mlops_course/streamlit/tone_app.py
Due: none

add fast api report
  docs/fastapi.md
Due: none

update streamlit report
  docs/streamlit service.png
  docs/streamlit.md
Due: none

fix ClearML report
  docs/clearml_report.md
  mlops_course/clearml/bert_model.ipynb
Due: none

update streamlit doc
  docs/streamlit.md
Due: none

add kubernetes pods
  kubernetes/html-configmap.yaml
  kubernetes/nginx-deployment.yaml
Due: none

add kubernetes docs
  README.md
  docs/kubernetes images/kubectl get configmap.PNG
  docs/kubernetes images/kubectl get deployments.PNG
  docs/kubernetes images/kubectl get pods.PNG
  docs/kubernetes images/kubectl get services.PNG
  docs/kubernetes images/kubernetes html.PNG
  docs/kubernetes images/minikube dashboard.PNG
  docs/kubernetes.md
Due: none

fix docs
  docs/kubernetes.md
  docs/kubernetes_images/kubectl_get_configmap.PNG
  docs/kubernetes_images/kubectl_get_deployments.PNG
  docs/kubernetes_images/kubectl_get_pods.PNG
  docs/kubernetes_images/kubectl_get_services.PNG
  docs/kubernetes_images/kubernetes_html.PNG
  docs/kubernetes_images/minikube_dashboard.PNG
Due: none

fix docs
  docs/kubernetes.md
Due: none

add feast report
  README.md
  docs/feast.md
Due: none

add featureform report
  README.md
  docs/feast.md
  docs/featureform.md
  docs/featureform_images/posts_features.png
  docs/featureform_images/posts_label.png
  docs/featureform_images/push_to_sql.png
  docs/featureform_images/training_set.png
Due: none

update featureform docs
  README.md
  docs/featureform.md
Due: none
